.app { 
    background: #98C3DC;
}

header {
    padding: 2vw;
}

body {
    min-height: 100vh;
    overflow: hidden;
    color: white;
}

.main {
    height: 80vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
  