.btn {
    margin: auto 10px;
    width: 110px;
    height: 32px;
    background: #98C3DC;
    border-radius: 32px;
    text-transform: uppercase;
    text-align: center;
    line-height: 32px;
    font-size: 18px;
    float: left;
    cursor: pointer;
}

.btn-on {
    box-shadow: 1px 1px 2px rgba(182, 234, 255, 0.3), -1px -1px 2px rgba(122, 156, 176, 0.5), inset -5px 5px 10px rgba(122, 156, 176, 0.2), inset 5px -5px 10px rgba(122, 156, 176, 0.2), inset -5px -5px 10px rgba(182, 234, 255, 0.9), inset 5px 5px 13px rgba(122, 156, 176, 0.9);
}

.btn-off {
    box-shadow: -5px 5px 10px rgba(122, 156, 176, 0.2), 5px -5px 10px rgba(122, 156, 176, 0.2), -5px -5px 10px rgba(182, 234, 255, 0.9), 5px 5px 13px rgba(122, 156, 176, 0.9), inset 1px 1px 2px rgba(182, 234, 255, 0.3), inset -1px -1px 2px rgba(122, 156, 176, 0.5);
}