.nav {
    background-color: #98C3DC;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: calc(10px + 2vmin);
    color: white;
}

.wordmark-container {
    display: flex;
    align-items: center;
}

.logo-container {
    width: 80px;
    height: 80px;
    margin-right: 1vw;
    text-align: center;
    border-radius: 100%;
    box-shadow: -5px 5px 10px rgba(122, 156, 176, 0.2), 5px -5px 10px rgba(122, 156, 176, 0.2), -5px -5px 10px rgba(182, 234, 255, 0.9), 5px 5px 13px rgba(122, 156, 176, 0.9), inset 1px 1px 2px rgba(182, 234, 255, 0.3), inset -1px -1px 2px rgba(122, 156, 176, 0.5);
}

.logo {
    height: 44px;
    padding: 18px;
    pointer-events: none;
}

.wordmark {
    font-size: 1.5em;
    margin: 0;
}